.request-garbage-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;


  }
  .gar-body
  {
    background-color: black;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="time"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  .error {
    color: red;
  }
  
  .submit-button-gar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .submit-button-gar:hover {
    background-color: #0056b3;
  }
  